@import '../../GlobalStyles.scss';

.button {
  border: none;
  display: block;
  cursor: pointer;
  margin-bottom: 16px;
  width: 100%;
  padding: 14px 24px;
  background-color: $white;
  border-radius: 27px;
  text-transform: uppercase;
  font-family: $main-font-family;
  font-size: $text-small-size;
  font-weight: 400;
  color: $dark-gray;

  &.primary {
    background-color: $light-mint;
    color: $white;
  }

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}
