@import '../../GlobalStyles.scss';

.wrapper {
  width: 100%;

  .buttonsWrapper {
    height: calc(100vh - 500px);
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 24px;

    .picturesWrapper {
      justify-content: space-around;
    }

    .lineWrapper {
      align-items: center;
      justify-content: space-between;

      input {
        margin-right: 16px;
        width: 340px;
      }
      button {
        margin-bottom: 0;
      }
    }
  }
}
