@import './GlobalStyles.scss';

.mainContainer {
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100vw;

  .board {
    width: calc(100vw - 300px);
    margin-left: 100px;
  }

  .settingsPanel {
    width: 300px;
    background-color: $light-mint;
    padding: 24px;
    height: 100vh;
    box-sizing: border-box;
  }
}
